apiVersion: v1
kind: Service
metadata:
  name: postgres-db
  namespace: kafka-web
spec:
  ports:
    - port: 5432
  selector:
    app: postgres-db
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-db
  namespace: kafka-web
spec:
  selector:
    matchLabels:
      app: postgres-db
  template:
    metadata:
      labels:
        app: postgres-db
    spec:
      containers:
      - name: postgres
        image: postgres:15
        env:
        - name: POSTGRES_DB
          value: kafkadata
        - name: POSTGRES_PASSWORD
          value: password123
        ports:
        - containerPort: 5432
