name: CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Backend (Java)
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: ondrejnr1/stats-backend:latest

      - name: Build and Push Frontend (Angular)
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: ondrejnr1/stats-frontend:latest
